:root {
    --black-color: #000;
    --white-color: #fff;
    --blue-color: #024880;
    --yellow-color: #FE9C0E;
    --lightblue-color: #19517E;
    --green-color: #A0C882;
    --light-grey-color: #787878;
    --light-pink-color: #FFF2F2;
    --light-orange-color: #FFF0E6;
    --dark-grey: #222222;
}

* {
    box-sizing: border-box;
}

html {
    width: 100%;
    overflow-x: hidden;
}

body {
    margin: 0px;
    font-family: 'Noto Sans', sans-serif;
    padding: 0;
    background: var(--white-color);
    top: 0 !important;
    font-size: 16px;
    line-height: 1.35;
    font-weight: 400;
}

p {
    font-size: 18px;
    line-height: 1.6;
    margin-top: 16px;
    font-weight: 400;
    color: var(--dark-grey);
    opacity: 0.8;
}

.container {
    width: 100%;
    padding: 0 50px;
    max-width: 1600px;
    margin: 0 auto;
}

.inner-container {
    width: 100%;
    padding: 0 15px;
    max-width: 1230px;
    margin: 0 auto;
}

input::placeholder,
select,
textarea::placeholder {
    font-weight: 400;
    font-size: 14px;
    font-family: 'Noto Sans', sans-serif;
    color: rgba(34, 34, 34, 0.8);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:focus,
select:focus,
textarea:focus {
    border: none;
    outline: none;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
    -webkit-appearance: none;
}

// Common Button
.common-btn {
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    padding: 18px 36px;
    align-items: center;
    letter-spacing: -0.01em;
    background: linear-gradient(89.87deg, #A0C882 0.09%, #004983 99.86%);
    box-shadow: 0px 8px 11px rgba(0, 0, 0, 0.17);
    border-radius: 4px;
    transition: all linear .3s;
    display: inline-flex;
    color: var(--white-color);

    .icon {
        display: inline;
        position: relative;
        transition: all linear .3s;
        margin-left: 10px;
        background-size: 100% 100%;
    }

    &.not-require {
        display: none !important;
    }

    &.light-bg {
        background: var(--white-color);
        border: 1px solid var(--blue-color);
        color: var(--blue-color);
        box-shadow: none;

        .icon {
            display: none;
        }

        &:hover {
            background: var(--blue-color);
            color: var(--white-color);
        }
    }
}

//Common Heading
.common-heading-md {
    font-size: 54px;
    line-height: 1.3;
    color: var(--lightblue-color);
    font-weight: 400;
}

.gradiant-bg {
    background: linear-gradient(103.52deg, #F4F8F1 56.26%, rgba(208, 222, 232, 0.43) 98.6%);
}

@media only screen and (max-width: 767px) {
    .container {
        padding: 0px 15px;
    }
}