.footer {
    background: linear-gradient(75.19deg, #054A80 0%, #9BC582 124.82%);
    font-weight: 300;
    color: var(--white-color);
    font-size: 14px;
    line-height: 18px;
    height: 100%;
    width: 100%;
    
    .inner-content {
        padding: 30px 0px;
        column-gap: 8%;
        border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    }

    .title {
        font-weight: 500;
        font-size: 40px;
        color: #fff;
        margin-bottom: 20px;
        line-height: 1.2;
    }

    .bottom-section {
        padding: 15px 0;
    }

    .right-section {
        .country {
            align-items: flex-start;
            column-gap: 10px;
            position: relative;
            cursor: pointer;
            width: 95%;

            &::after {
                content: '+';
                position: absolute;
                color: var(--white-color);
                font-size: 20px;
                right: 0px;
                top: 7px;
                width: 20px;
                height: 20px;
                display: flex;
                justify-content: flex-end;
            }

            &.active {
                &::after {
                    content: '-';
                }
            }
        }

        .title {
            font-size: 16px;
            margin-left: 0px;
            line-height: 33px;
            word-break: break-word;
            width: calc(100% - 42px);
            font-weight: 700;
        }

        
        .city-data {
            padding: 15px 0;
            border-bottom: 1px solid rgba(255, 255, 255, 0.12);

            .title {
                font-weight: 700;
                font-size: 16px;
                line-height: 1.5;
                margin: 0 0 8px 0px;
                text-transform: capitalize;
                letter-spacing: 0.5px;
            }

            a {
                color: var(--white-color);
            }
            ul {
                display: flex;
                flex-wrap: wrap;
                row-gap: 3px;
                column-gap: 2%;
            }
            li {
                background: url('../../../../public/images/icons/icon-call.png') no-repeat 0 10px;
                padding: 4px 0 4px 25px;
                font-size: 16px;
                letter-spacing: 0.5px;
                line-height: 1.6;
                width: 49%;

                &.email {
                    background: url('../../../../public/images/icons/icon-email.png') no-repeat 0 10px;
                }

                &.add {
                    background: url('../../../../public/images/icons/icon-add.png') no-repeat 0 8px;
                    width: 100%;
                }

                &.no-require {
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: 1399px) {

}
@media screen and (max-width: 1023px) {

}

@media screen and (max-width: 992px) {

}

@media screen and (max-width: 767px) {

}