header.header {
    position: static;
    top: -90px;
    z-index: 99;
    left: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    transition: all 0.5s ease-in-out;
    right: 0;
    padding: 10px 0px;
    width: 100%;
    background: var(--white-color);
    
    .container {
        position: relative;
    }

    .logo {
        padding: 0px 0;
        transition: all linear .3s;
        min-width: 80px;

        img {
            filter: none !important;
        }
    }

    .toggle-icon {
        width: 40px;
        height: 40px;
        padding: 10px;
        background: var(--blue-color);
        border-radius: 4px;

        img {
            filter: invert(1) brightness(100);
        }
    }

    .toggle-icon,
    .close-icon {
        display: none;
    }

    .navigation {
        
        & > li {
            min-width: max-content;
        }
    }

    a,
    .mLink {
        color: var(--lightblue-color);
        font-size: 14px;
    }

    li {
        position: relative;

        ul.dropdown {
            position: absolute;
            width: 269px;
            padding: 10px 20px;
            background: var(--white-color);
            box-shadow: 0px 5px 39px 0px rgba(0, 0, 0, 0.10);
            transition: all linear .3s;
            border-radius: 4px;
            animation: dropdownanimate linear .3s alternate;
            display: none;

            li {
                a {
                    display: flex;
                    padding: 10px 0;
                }

                &:last-of-type {
                    a {
                        padding: 0;
                    }
                }
            }
        }

        &:nth-last-child(-n+2) {
            ul.dropdown {
                right: 0;
            }
        }

        &:hover {
            ul.dropdown {
                display: block;
            }
        }

        &.dropdown-menus {
            position: relative !important;

            >a,
            >.mLink {
                position: relative;
                padding-right: 20px;

                &:after {
                    position: absolute;
                    content: "";
                    width: 7px;
                    height: 7px;
                    display: block;
                    transition: all linear .3s;
                    border: solid currentColor;
                    border-width: 0 0 1px 1px;
                    transform: rotate(-45deg);
                    right: 4px;
                    bottom: 0;
                    top: -6px;
                    margin: auto;
                }

            }

            &:hover {
                > a,
                > .mLink {
                    color: var(--green-color);
                    &:after {
                        transform: rotate(-225deg);
                        top: 5px;
                        color: var(--green-color);
                    }
                }
            }

            span.arrow-btn {
                width: 40px;
                height: 40px;
                position: absolute;
                background: var(--blue-color);
                border-radius: 4px;
                right: 8px;
                top: 8px;
                z-index: 9;
                display: none;

                &:after {
                    position: absolute;
                    content: "";
                    width: 10px;
                    height: 10px;
                    display: block;
                    transition: all linear .3s;
                    border: solid #fff;
                    border-width: 0 0 2px 2px;
                    transform: rotate(-45deg);
                    right: 0px;
                    bottom: 16px;
                    left: 0;
                    margin: 0 auto;
                }

                &:hover {
                    a:after {
                        transform: rotate(-225deg);
                    }
                }
            }

        }
    }

    li:last-of-type {
        a {
            padding-right: 0;
        }
    }

    a {
        transition: all linear .3s;

        &:hover {
            color: var(--green-color);
        }
    }

    &.small {
        background: #fff;
        box-shadow: 0 0 25px rgba(0, 0, 0, .1);
        position: fixed;
        top: 0;

        a,
        .mLink {
            color: var(--blue-color);
            transition: all ease-in-out 1s;

            &:hover {
                color: var(--green-color) 
            }
        }

        li:hover > a {
            color: var(--green-color);
        }
    }
}

@media only screen and (max-width: 1399px) {
    header.header {
        .navigation {
            .mLink,
            a {
                font-size: 12px;
            }    
        }
    }
}

@media only screen and (max-width: 1280px) {
    header.header {
        .navigation {
            .mLink,
            a {
                font-size: 10px;
            }    
        }
    }
}

@media only screen and (max-width: 1024px) {
    header.header {
        .toggle-icon {
            display: inline-flex;
        }
        .top {
            display: none;
        }

        .close-icon {
            display: inline-flex;
            width: 40px;
            height: 40px;
            padding: 10px;
            background: var(--blue-color);
            border-radius: 4px;
            margin: 15px;

            img {
                filter: invert(1) brightness(100);
            }
        }

        .nav-sec {
            position: fixed;
            right: -100%;
            top: 0;
            width: 300px;
            height: 100vh;
            overflow-y: scroll;
            background: var(--white-color);
            transition: all 0.5s ease-in-out;
            &.active {
                right: 0;
            }
        }

        .navigation {
            flex-direction: column;
            width: 100%;
            gap: 0;
            li {
                padding: 10px;
                border-bottom: 1px solid rgba(34,34,34,.15);
            }

            a {
                font-size: 14px;
            }
        }

        li{
            &:hover {
                ul.dropdown {
                    display: block;
                    height: 0;
                    opacity: 0;
                    transition: all 0.5s ease-in-out;

                    &.show {
                        display: block;
                        position: relative;
                        left: 0;
                        right: 0;
                        top: 8px;
                        width: 100%;
                        box-shadow: none;
                        padding: 0px;
                        height: 100%;
                        opacity: 1;
                    }

                    li {
                        padding: 0px;

                        &:last-of-type {
                            border-bottom: 0px;
                            a {
                                padding: 10px 0;
                            }
                        }
                    }
                }
            }
            
            &.dropdown-menus {
                span.arrow-btn {
                    top: 2px;
                    display: block;
                }
    
                & > a,
                & > .mLink {
                    font-size: 14px;

                    &::after {
                        display: none;
                    }
                }
            }
        } 
    }
}

@media only screen and (max-width: 1024px) {
    header.header {
        .logo {
            img {
                max-height: 60px;
                width: auto;
            }   
        }
    }
}