.our-location {
    ul {
        padding: 30px 0px 30px 0px;
        margin-left: 35px;
        position: relative;
        border-left: 1px solid var(--blue-color);

        &::before {
            content: '';
            position: absolute;
            top: 0;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            border: 1px solid var(--blue-color);
            left: -8px;
            background: var(--white-color);
        }
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            border: 1px solid var(--blue-color);
            left: -8px;
            background: var(--white-color);
        }
    }

    .item {
        box-shadow: 0px 8px 28px 0px rgba(0, 0, 0, 0.078);
        padding: 25px 60px 24px 0px;

        &:nth-child(2n) {
            .img-wrapper {
                background: #0000FF;
            }
        }
        &:nth-child(3n) {
            .img-wrapper {
                background: #FF8400;
            }
        }
        &:nth-child(4n) {
            .img-wrapper {
                background: #00B9AE;
            }
        }
    }
    .img-wrapper {
        min-width: 70px;
        height: 70px;
        background: var(--blue-color);
        margin-left: -35px;
    }

    .title {
        font-size: 20px;
        font-weight: 600;
        line-height: 28px;
    }

    p {
        margin-top: 5px;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
    }
}